:root { 
--gray_900_75:#14131375; 
--gray_900_cc:#141313cc; 
--red_400:#eb5757; 
--light_blue_400:#1abcfe; 
--gray_900_6c:#1413136c; 
--gray_50:#f8faff; 
--gray_900_19:#14131319; 
--gray_900_0c:#1413130c; 
--black_900_01:#010101; 
--black_900:#060200; 
--deep_orange_300:#ff6c63; 
--gray_900_63:#14131363; 
--purple_300:#b86adf; 
--gray_900_02:#191917; 
--white_A700_6c:#ffffff6c; 
--red_A100_6c:#f785856c; 
--red_A100:#f78585; 
--white_A700_a2:#ffffffa2; 
--gray_900:#212121; 
--gray_900_01:#141313; 
--orange_300:#ffb147; 
--indigo_A700:#304ffe; 
--indigo_900_01:#00179f; 
--blue_100:#c1caff; 
--indigo_900:#00189f; 
--indigo_700:#252eb9; 
--white_A700:#ffffff; 
}